{% extends 'base.html' %}
{% load static %}

{% block title %}Рецепт Бургера - Мои Рецепты{% endblock %}

{% block content %}
<div class="card mb-4">
    <!-- Добавляем стиль для уменьшения размера изображения -->
    <img src="{% static 'images/burger.webp' %}" class="card-img-top" alt="Бургер" style="width: 50%; height: auto;">
    <div class="card-body">
        <h5 class="card-title">Рецепт Бургера</h5>
        <p class="card-text">Сочный бургер с говяжьей котлетой и свежими овощами.</p>
        <h6>Ингредиенты:</h6>
        <ul>
            <li>Говяжий фарш</li>
            <li>Булочки для бургера</li>
            <li>Листья салата</li>
            <li>Помидоры</li>
            <li>Лук</li>
            <li>Сыр Чеддер</li>
            <li>Соус</ли>
            <li>Соль</ли>
            <ли>Перец</ли>
        </ul>
        <h6>Инструкция:</h6>
        <p>
            1. Сформируйте котлеты и приправьте их.<br>
            2. Обжарьте котлеты до желаемой степени готовности.<br>
            3. Подготовьте булочки, поджарив их слегка.<br>
            4. Соберите бургер, добавляя салат, помидоры, лук, сыр и соус.<br>
            5. Подавайте горячим.
        </p>
    </div>
</div>
{% endblock %}
