{% extends 'base.html' %}
{% load static %}


{% block title %}Рецепт Стейка - Мои Рецепты{% endblock %}

{% block content %}
<div class="card mb-4">
    <img src="{% static 'images/steak.webp' %}" class="card-img-top" alt="Стейк" style="width: 50%; height: auto;">
    <div class="card-body">
        <h5 class="card-title">Рецепт Стейка</h5>
        <p class="card-text">Идеально приготовленный стейк с хрустящей корочкой и сочной серединкой.</p>
        <h6>Ингредиенты:</h6>
        <ul>
            <li>Стейк из говядины</li>
            <li>Оливковое масло</li>
            <li>Чеснок</li>
            <li>Розмарин</li>
            <li>Соль</li>
            <li>Перец</li>
        </ul>
        <h6>Инструкция:</h6>
        <p>
            1. Приправьте стейк солью и перцем.<br>
            2. Разогрейте сковороду с оливковым маслом.<br>
            3. Добавьте чеснок и розмарин.<br>
            4. Обжарьте стейк по 3-4 минуты с каждой стороны для средней прожарки.<br>
            5. Дайте стейку отдохнуть несколько минут перед подачей.
        </p>
    </div>
</div>
{% endblock %}
